.color{
    background-color: red
}
table{
    display: flex;
    justify-content: space-between;
}

td{
    display: flex;
    padding: 10px;
}
tr{
    border: solid 1px rgb(77, 75, 75);
    display: flex;
    padding: 15px;
}

.results{
    display: flex;
    justify-content: space-between;
}
input{
    background-color: rgb(110, 105, 105);
    padding: 12px;
    outline: none !important;
}