*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input{
  border: solid 1px gray;
  outline: none !important;
}

.hiddenModal{
  // transition: all 1s;
  display: none !important;
  // opacity: 0;
  // margin-left: 200px;
  // transition: all 1s;
}

.close{
  display: none;
}